config/default.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="icon" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="item2">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
  </xs:complexType>
  <xs:element name="item" type="item">
  </xs:element>
</xs:schema>
